<p id="notice"><%= notice %></p>

<h1>Posts</h1>

    <% @posts.each do |post| %>

        <%= link_to post.title, post %>
        <p class="content"><%= post.content %></p>
        <%# <p class="views"><%= post.views %></p>
        <p class="date"><%= post.date %></p>
        <%# <td><%=  'Show', post %>

    <% end %>
  </tbody>
</table>

<br>

<%# <%= link_to 'New Post', post/new  %>
