<p id="notice"><%= notice %></p>

<h1>Posts</h1>

    <% @posts.each do |post| %>

        <%= link_to post.title, post %>
        <%# look up display for gcs %>
        <%= image_tag post.photo %>
        <%= post.blurb %>
        <%# <p class="content"><%= post.content %></p>
        <%# <%<p class="views"><%= post.views %></p>
        <p class="date"><%= post.date %></p>

    <% end %>
  </tbody>
</table>

<br>
